{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <center>
    <div class="banner" style="width: 100%;height: 350px;padding: 100px; background-color: #9ED3F3;color: white;">

            <h1>
                Welcome, to the biggest online library in the history of books
            </h1>

    </div>
    <div class="banner" style="width: 100%;height: 350px;padding: 100px; background-color: #FAEED8;">
        <h2>
            No need for an account. Just add your book and get worldwide feedback!
        </h2>
        <div class="column" style="width: 100%;height: 350px;padding: 100px;">

        </div>
    </div>
    </center>
{% endblock %}
